<br>
<center>
<div>
    <b><h1>My Bids</h1></b>
</div>
</center>
<br>

<div class="table-responsive">
	<div class="container container-border text-center">
    
	    <div class="row row-border top-row">
		<div class="col-3">
		    <h2>Image</h2>
		</div>
		<div class="col-3 ">
		    <h2>Car</h2>
		</div>
		<div class="col-3">
		    <h2>My bid</h2>
		</div>
		<div class="col-3">
		    <h2>Current bid</h2>
		</div>
	    </div>


		<div id="bids">
			<% @bids.each do |bid| %>
			    
			    <div class="row data-row">
				<div class="col-3 data-column">
				    
				    <% if bid.car.picture.attached? %>
					<%= image_tag url_for(bid.car.picture), class: "img-thumbnail" %>
				    <% else %>
					<%= image_tag bid.car.image, class: "img-thumbnail" %>		
				    <% end %>
				</div>
				<div class="col-3 data-column">
				    <%= link_to "#{bid.car.brand} #{bid.car.model}", bid.car, class: "dropdown-item" %>
				</div>
				<div class="col-3 data-column">
				    <div>
					<h2><%= bid.amount %>$</h2>
				    </div>
				</div>
				<div class="col-3 data-column">
				    <div>
					<h2><%= bid.car.starting_price %>$</h2>
				    </div>
				</div>
			    </div>
			    
			<% end %>
		</div>

    
	</div>
</div>



