<%= stylesheet_link_tag "application.css" %>
<%= form_with(model: car) do |form| %>
  <% if car.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
        <% car.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<br>
  <div class="container">
    <div class="card text-center">
        <div class="card-header">
          <h1>Upload Car</h1>
        </div>
        <div class="card-body">
                
                <br><br>
                <div class="row justify-content-center">
                    <div class="col-4">
                        <div class="input-group mb-3">
                            <%= form.file_field :picture %>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <%= form.label :brand, class: "input-group-text" %>
                            </div>
                            <%= form.text_field :brand, class: "form-control" %>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <%= form.label :model, class: "input-group-text" %>
                            </div>
                            <%= form.text_field :model, class: "form-control" %>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-4">
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <%= form.label :BHP, class: "input-group-text" %>
                          </div>
                          <%= form.number_field :BHP, class: "form-control" %>
                      </div>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-4">
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <%= form.label :mileage, class: "input-group-text" %>
                          </div>
                          <%= form.number_field :mileage, class: "form-control" %>
                      </div>
                  </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <%= form.label :starting_price, class: "input-group-text" %>
                            </div>
                            <%= form.number_field :starting_price, class: "form-control" %>
                        </div>
                    </div>
                </div>
                <%= form.hidden_field :user_id, :value => current_user.id %>
    	  <%= form.submit class:"btn btn-primary"	 %>
        </div>
      </div>
</div>
  

  
<% end %>
